<%- include('./partials/head') %>

<main>
    <div class="searchbar">
        <form id="search" method="get" action="/">
            <input type="search" name="searchbar" id="search">
            <button type="submit"></button>
        </form>
    </div>
    <div class="blogs">
       <section class="filters">
            <h2>Filters</h2>
                <input form="search" type="checkbox" name="" id="">
       </section>
       <ul>
        <% posts.forEach(post => { %>
            <li>
                <article>
                    <div>
                        <a href="https://www.voorhoede.nl/en/blog/<%- post.slug %>">
                            <h2><%= post.title %></h2>
                        </a>
                        <p><%= post.introTitle %></p>
                    </div>
                    <div class="author">
                        <div>
                            <% post.authors.forEach(author => { %>
                                <img class="author-image" src="<%- author.image.url %>" alt="Foto van <%= author.name %>">
                            <% }); %>
                            <span class="by">By</span><% post.authors.forEach(author => { %>
                                <span class="author-name"><%= author.name %></span>
                            <% }); %>
                        </div>
                        <time datetime="<%= post.publishDate %>"><%= post.publishDate %></time>
                    </div>
                </article>
            </li>
            <% }); %>
       </ul>
    </div>
</main>

<%- include('./partials/foot') %>