<%- include('./partials/head') %>

<main>
    <div class="searchbar">
        <div>
            <p class="search-blog">Search blogs</p>
            <form id="search" method="get" action="/">
                <label for="searchbars"></label>
                <input autocomplete="off" id="searchbars" type="search" name="searchbar">
                <button aria-label="Zoek knop om naar een blogbericht te zoeken" type="submit"></button>
            </form>
            <div class="sort">
                <div>
                    <p><%= totalBlogs %> blogs found</p>
                </div>
            </div>
        </div>
    </div>
    <div class="blogs">
        <section class="filters">
            <h2>Filters</h2>
            <section class="author-filter">
                <h3>Date</h3>
                <div class="date-filter">
                    <div>
                        <label for="dateFrom">From</label>
                        <input form="search" name="datefrom" id="dateFrom" type="date">
                    </div>
                    <div>
                        <label for="dateTo">To</label>
                        <input form="search" name="dateto" id="dateTo" type="date">
                    </div>
                </div>
            </section>
            <section class="author-filter">
                <h3>Authors</h3>
                <div>
                    <input form="search" value="340340" type="radio" name="authorid" id="Jasper">
                    <label for="Jasper">Jasper</label>
                </div>
                <div>
                    <input form="search" value="122738219" type="radio" name="authorid" id="Vera">
                    <label for="Vera">Vera</label>
                </div>
                <div>
                    <input form="search" value="4585143" type="radio" name="authorid" id="Sjoerd">
                    <label for="Sjoerd">Sjoerd</label>
                </div>
                <div>
                    <input form="search" value="147119401" type="radio" name="authorid" id="Misha">
                    <label for="Misha">Misha</label>
                </div>
                <div>
                    <input form="search" value="340344" type="radio" name="authorid" id="Declan">
                    <label for="Declan">Declan</label>
                </div>
                <div>
                    <input form="search" value="122281136" type="radio" name="authorid" id="Roos">
                    <label for="Roos">Roos</label>
                </div>
            </section>
        </section>
        <ul>
            <% posts.forEach(post => { %>
            <li>
                <article>
                    <div>
                        <a href="https://www.voorhoede.nl/en/blog/<%- post.slug %>">
                            <h2><%= post.title %></h2>
                        </a>
                        <p><%= post.introTitle %></p>
                    </div>
                    <div class="author">
                        <div>
                            <% post.authors.forEach(author => { %>
                            <img class="author-image" src="<%- author.image.url %>" alt="Foto van <%= author.name %>">
                            <% }); %>
                            <span class="by">By</span><% post.authors.forEach(author => { %>
                            <span class="author-name"><%= author.name %></span>
                            <% }); %>
                        </div>
                        <time datetime="<%= post.publishDate %>"><%= post.publishDate %></time>
                    </div>
                </article>
            </li>
            <% }); %>
        </ul>
    </div>
</main>

<%- include('./partials/foot') %>